<h1>Posts</h1>
<%= render 'form', post: @post %>
<% @posts.each do |post|%>
  <%= render post %>
  <% if user_signed_in? %>
    <div class="links-post">
      <%= link_to "Edit", edit_post_path(post), class: "btn btn-outline-primary"%>
      <%= button_to "Delete", post_path(post), method: :delete, class: "btn btn-danger" %>
    </div>
  <% end %>
<% end %>
</div>